absl-py
attrs
certifi
cffi
charset-normalizer
colorama
contourpy
cycler
decorator
EasyPySpin
flatbuffers
fonttools
futures
idna
Jinja2
kiwisolver
MarkupSafe
matplotlib
mediapipe
mne
numpy
openbci
opencv-contrib-python
opencv-python
packaging
Pillow
platformdirs
pooch
protobuf
psutil
pycparser
pyparsing
pyserial
pyspin
python-dateutil
requests
rotpy
scipy
simple-pyspin
six
sounddevice
tornado
tqdm
urllib3